/* Incluyo las fuentes de letra */
@import url("https://fonts.googleapis.com/css2?family=Ramaraja&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Radley&family=Ramaraja&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Birthstone&family=Radley&family=Ramaraja&family=Stardos+Stencil&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Birthstone&family=Radley&family=Ramaraja&family=Source+Sans+Pro:ital,wght@1,200&family=Stardos+Stencil&display=swap");

/* Estilo del hover de los botones */
@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgb(81, 255, 0);
    box-shadow: 0 0 0 0 rgb(179, 255, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgb(255, 0, 0);
    box-shadow: 0 0 20px 0px rgb(175, 2, 255);
  }
}
/* Estilo del hover de los hipervinculos */
@-webkit-keyframes text-shadow-pop-left {
  0% {
    text-shadow: 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #555555, 0 0 #555555,
      0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    text-shadow: -1px 0 #000000, -2px 0 #000000, -3px 0 #000000, -4px 0 #000000,
      -5px 0 #000000, -6px 0 #000000, -7px 0 #555555, -8px 0 #555555;
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* Incluyo el fondo de la pagina, con un degrade*/
  background: linear-gradient(
      to bottom,
      rgb(8 226 238 / 30%),
      rgb(8 226 238 / 30%)
    ),
    url(../Imagenes/Fondo.png);
  filter: saturate(120%);
}
header {
  /* Incluyo la imagen del header, y la ajusto */
  background-image: url(../Imagenes/Fondo.png);
}
.Principal {
  /* Ordeno distintos div utilizando un display */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 40px;
}
.PBoton {
  /* Defino como van a estar direccionado los botones */
  display: flex;
  flex-direction: row;
  margin-top: -45px;
  margin-right: 40px;
}
.Boton {
  /* Defino el color, tamaño, fuente y fondo de los botones */
  background-color: rgb(12, 12, 12);
  border: rgb(143, 179, 14) 2px solid;
  margin: 7px;
  width: 100px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 14px;
  padding-left: 14px;
}
.Boton:hover {
  /* Defino que sucede, si el mouse esta sobre un boton, en este caso le doy una animacion de color */
  filter: brightness(120%);
  -webkit-animation: shadow-drop-2-center 0.6s both;
  animation: shadow-drop-2-center 0.6s both;
}
.LBoton {
  /* Defino el color de letra, de los botones */
  color: rgb(238, 223, 8);
  text-decoration: none;
}
.TituloYNombre {
  /* Propiedades de la direccion del titulo de la pagina */
  display: flex;
  flex-direction: column;
  margin-top: -40px;
}
.PTitulo {
  /* Defino el color, tamaño, fuente, del titulo */
  font-family: "Ramaraja", serif;
  font-size: 60px;
  text-align: center;
  background-color: rgb(21, 255, 0);
  border: rgb(143, 179, 14) 2px solid;
  filter: brightness(2);
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 6px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 135px;
}
.PTitulo:hover {
  /* Defino que sucede, si el mouse esta sobre el titulo, en este caso le doy una animacion de invertir color*/
  filter: invert(5%);
}
.Nombre {
  /* Defino color, tamaño, fuente, del nombre debajo del titulo */
  font-family: "Stardos Stencil", cursive;
  margin: 0 auto;
  margin-top: -40px;
  text-align: center;
  color: rgb(238, 223, 8);
}
.Contactos {
  /* Defino la disposicion de enlaces de contactos con un display */
  display: flex;
  flex-direction: column;
  padding-right: 14px;
  padding-left: 15px;
  margin-top: -40px;
}
.Icono {
  /* Defino la disposicion de los iconos de contactos con un display */
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}
.Iconos {
  /* Defino la disposicion de los iconos de contactos con un display */
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 10px;
  padding-top: 10px;
}
.IMGContacto {
  /* Defino el tamaño de las imagenes de contacto */
  width: 20px;
  height: 20px;
}
.TXTContactos {
  /* Defino el color y tamaño del texto de contactos */
  font-size: 14px;
  color: rgb(238, 223, 8);
  padding-left: 10px;
}
.TXTContactos:hover {
  /* Defino que sucede, si el mouse esta sobre el texto de contactos, en este caso le doy una animacion 3D*/
  color: orange;
  -webkit-animation: text-shadow-pop-left 0.6s both;
  animation: text-shadow-pop-left 0.6s both;
}
.Wsp {
  /* Defino la disposicion del enlace a whatsapp */
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}
.IMGWsp {
  /* Defino el tamaño de la imagen de Whatsapp, ya que es distinta a la de los demas contactos */
  width: 30px;
  height: 18px;
  margin-left: -6px;
}
.TXTWsp {
  /* Defino el color y tamaño del texto del texto de Whatsapp dentro de contactos */
  font-size: 14px;
  color: rgb(238, 223, 8);
  padding-left: 5px;
}
.TXTWsp:hover {
  /* Defino que sucede, si el mouse esta sobre el texto de whatsapp, en este caso le doy una animacion 3D*/
  color: orange;
  -webkit-animation: text-shadow-pop-left 0.6s both;
  animation: text-shadow-pop-left 0.6s both;
}

hr {
  /* Defino una linea para limitar entre el header y el article */
  border: 1px solid rgb(188, 161, 212);
  margin-left: -30px;
}
/* ------------------------------------------------- ARTICULO ------------------------------------------------- */
.Articulo {
  /* Ordeno distintos los divs dentro del article utilizando un display */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.FPresentacion {
  /* Defino el tamaño de las imagen dentro del article */
  border-radius: 30%;
  padding-right: 10px;
  height: 240px;
  width: 240px;
}
.FPresentacion2 {
  /* Defino el tamaño de las imagen dentro del article */
  border-radius: 30%;
  padding-left: 10px;
  height: 240px;
  width: 240px;
}
.FPresentacion:hover {
  /* Defino que sucede, si el mouse esta sobre la imagen, en este caso le doy una sombra azul*/
  filter: brightness(120%) drop-shadow(10px 10px 10px #0d2680);
}
.FPresentacion2:hover {
  /* Defino que sucede, si el mouse esta sobre la imagen, en este caso le doy una sombra azul*/
  filter: brightness(120%) drop-shadow(10px 10px 10px #0d2680);
}
.Presentacion {
  /* Defino las caracteristicas del texto de presentación */
  border: rgb(8 104 238) 1px solid;
  background-color: rgb(180 180 239);
  font-family: "Radley", serif;
  text-align: justify;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  width: 700px;
}
.Presentacion:hover {
  /* Defino que sucede, si el mouse esta sobre la presentación, en este caso le doy una sombra azul*/
  filter: drop-shadow(16px 16px 20px #0d2680) opacity(150%) saturate(100%)
    brightness(120%);
}
.Display_CV {
  /* Ordeno distintos los divs dentro del curriculum utilizando un display */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}
.Boton_D {
  color: rgb(238, 223, 8);
  text-decoration: none;
  font-size: 20px;
}
footer {
  /* Ordeno distintos los divs dentro del footer utilizando un display */
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(240, 248, 255, 0.582);
  height: 64px;
}
.Iconos_Footer {
  padding-left: 10px;
}
/* -------------------------------------------------  PROYECTOS  ------------------------------------------------- */
.Texto {
  margin-left: 60px;
  margin-top: 80px;
}
.Texto p {
  font-size: 16px;
  background-color: #f8f8f89d;
  width: 660px;
}
.Cuadricula {
  /* Ordeno las distintas imagenes en forma de cuadricula utilizando un display */
  display: flex;
  flex-direction: column;
  padding-left: 31px;
}
.Imagen_Columna {
  /* Ordeno las distintas cuadriculas en columnas utilizando un display */
  display: flex;
  flex-direction: column;
  padding-top: 56px;
}
.Imagen_Fila {
  /* Ordeno las distintas columnas en filas utilizando un display */
  display: flex;
  flex-direction: row;
}
.Foto {
  border-radius: 70px;
  width: 250px;
  height: 250px;
}
/*  ------------------------------------------------- SOBREMI -------------------------------------------------  */
.SobreMi {
  /* Ordeno los diversos divs en forma de fila utilizando un display */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 10px;
}
.Boton_Descarga_CV {
  /* Defino las caracteristicas del boton de descarga del curriculum */
  background-color: rgb(12, 12, 12);
  border: rgb(143, 179, 14) 2px solid;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
  height: 50px;
  width: 600px;
}
.Boton_Descarga_CV:hover {
  /* Defino que sucede, si el mouse esta sobre el boton de descarga, en este caso le doy una animacion de color */
  filter: brightness(120%);
  -webkit-animation: shadow-drop-2-center 0.6s both;
  animation: shadow-drop-2-center 0.6s both;
}
.PDF_CV {
  /* Defino el tamaño del visor PDF*/
  width: 600px;
  height: 800px;
}
.Display_PDF_CV {
  /* Ordeno el PDF y Boton de descarga utilizando un display */
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}
.SobreMi_Presentacion {
  /* Defino el tamaño de la presentacion*/
  padding-left: 10px;
  width: 550px;
}
.SobreMi_Presentacion p {
  /* Defino el tamaño de los parrafos de la presentacion*/
  text-align: justify;
  text-align-last: center;
  background-color: #f8f8f89d;
  padding: 0px 10px 0px 10px;
}
.Texto_SobreMi {
  padding: 10px;
}
.Boton_Descarga_CV_S {
  background-color: rgb(12, 12, 12);
  border: rgb(143, 179, 14) 2px solid;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
  height: 50px;
  width: 100%;
}
.Display_Iconos_F {
  /* Ordeno los diversos iconos del footer utilizando un display */
  display: flex;
  flex-direction: row;
  padding-right: 10px;
}
.Icono_D {
  /* Defino el padding derecho de diversos iconos*/
  padding-right: 10px;
}
.Icono_I {
  /* Defino el padding izquierdo de diversos iconos*/
  padding-left: 10px;
}
.Año {
  /* Defino el color de las palabras que incluyen un año*/
  color: #2356d1;
}
/*  ------------------------------------------------- CONTACTOS -------------------------------------------------  */
.Display_Contacto {
  /* Ordeno los diversos links de contactos utilizando un display */
  display: flex;
  flex-direction: column;
  background-color: #f8f8f89d;
  margin-bottom: 20px;
  align-items: center;
}
.Display_Redes {
  /* Ordeno las diversas redes utilizando un display */
  display: flex;
  flex-direction: column;
}
.Display_Redes a {
  /* Defino el color de los ancor de las redes sociales*/
  text-decoration: none;
  color: #082a9e;
}
.Display_Titulos {
  /* Ordeno los titulos de contactos utilizando un display */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Titulos_Contacto {
  background-color: #00000086;
  color: aliceblue;
  text-align: center;
  width: 100px;
  margin: 15px;
}
.Display_Redes_Contacto {
  /* Ordeno las redes dentro de contactos utilizando un display */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px;
}
.Icono_Mail {
  /* Defino el padding izquierdo del icono Mail*/
  padding-left: 10px;
}
.Margen_Contacto {
  /* Defino el padding superior del icono Contacto*/
  padding-top: 20px;
}

@media (max-width: 1230px) {
  /* Incluyo un @media para configurar las propiedades dependiendo el ancho de pantalla del dispotivo */
  .PBoton {
    flex-direction: column;
  }
  .FPresentacion2 {
    margin-top: 7px;
  }
  .Articulo {
    flex-direction: column;
  }
  .Presentacion {
    font-size: 15px;
    width: 100%;
  }
  .PTitulo {
    font-size: 5vw;
    height: 125px;
  }
  .Nombre {
    font-size: 20px;
  }
  .TituloYNombre {
    padding-right: 58px;
    padding-top: 20px;
  }
  .Boton_Descarga_CV {
    width: 90%;
  }
  .Boton_Descarga_CV_S {
    width: 90%;
  }
  .Foto {
    width: 20vw;
    height: 30vh;
  }
  .Texto p {
    width: 80%;
  }
  .SobreMi {
    padding-left: 87px;
    flex-direction: column;
  }
  .SobreMi_Presentacion {
    width: 90%;
  }
  .PDF_CV {
    width: 90%;
  }
}
@media (max-width: 885px) {
  /* Incluyo un @media para configurar las propiedades dependiendo el ancho de pantalla del dispotivo */
  .Foto {
    height: 25vh;
  }
  .Nombre {
    font-size: 10px;
  }
  .TXTContactos {
    font-size: 10px;
  }
  .TXTWsp {
    font-size: 10px;
  }
  .TituloYNombre {
    padding-top: 86px;
    margin-left: 62px;
  }
  .TituloYNombre div {
    width: auto;
  }
  .PBoton {
    flex-direction: row;
    padding-top: 44px;
    padding-left: 32vw;
  }
  .Boton_Descarga_CV {
    height: 75px;
  }
  .Principal {
    flex-direction: column;
    align-items: stretch;
  }
  .LBoton {
    font-size: 2vw;
  }
  .Boton {
    width: auto;
  }
  .SobreMi {
    padding-left: 40px;
  }
  .Contactos {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media (max-width: 625px) {
  /* Incluyo un @media para configurar las propiedades dependiendo el ancho de pantalla del dispotivo */
  .Foto {
    border-radius: 0px;
    width: 32vw;
    height: 25vw;
  }
  .Texto {
    margin-left: 9px;
    margin-top: 79px;
  }
}
@media (max-width: 560px) {
  /* Incluyo un @media para configurar las propiedades dependiendo el ancho de pantalla del dispotivo */
  .PBoton {
    padding-left: 18vw;
  }
}
@media (max-width: 400px) {
  /* Incluyo un @media para configurar las propiedades dependiendo el ancho de pantalla del dispotivo */
  .LBoton {
    font-size: 8px;
  }
  .Boton {
    width: 65px;
  }
  .Display_Redes_Contacto {
    font-size: 12px;
  }
  .Titulos_Contacto {
    font-size: 12px;
  }
  .Direccion {
    font-size: 12px;
  }
  .Boton {
    width: 16vw;
    padding: 8%;
  }
  .PBoton {
    padding-left: 31vw;
    margin-left: -10vw;
  }
  .LBoton {
    font-size: 2vw;
  }
}
@media (max-width: 235px) {
  /* Incluyo un @media para configurar las propiedades dependiendo el ancho de pantalla del dispotivo */
  .FPresentacion {
    border-radius: 30%;
    padding-right: 10px;
    height: 40vh;
    width: 100vw;
  }
  .FPresentacion2 {
    border-radius: 30%;
    padding-right: 10px;
    height: 40vh;
    width: 100vw;
  }
}
